* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Hecho con la página CSS Gradient. */
    background: #1e3b14;
    background: linear-gradient(90deg, rgba(30, 59, 20, 1) 0%, rgba(37, 115, 59, 1) 50%, rgba(30, 59, 20, 1) 100%);
    
}

.evSlide {
    background-color: #1b2419;
    border: 2px solid #b5e3ac;
}

.bgRow {
    background-color: #b5e3ac;
}

/* font color primary */
.fc_primary {
    color: rgb(29, 46, 24);
}

/* font color secondary */
.fc_secondary {
    color: #d4ebcf;
}

.sh {
    box-shadow: 0px 10px 40px rgb(35, 41, 34);
}

.navMenu {
    /* Hecho con la página CSS Gradient. */
    background: #b5e3ac;
    background: linear-gradient(90deg, rgba(181, 227, 172, 1) 0%, rgba(204, 240, 214, 1) 50%, rgba(181, 227, 172, 1) 100%);
}

.favb_logo {
    height: 8rem;
    width: 8rem;
}

.socialMedia {
    /* Hecho con la página CSS Gradient. */
    background: #b5e3ac;
    background: linear-gradient(90deg, rgba(181, 227, 172, 1) 0%, rgba(204, 240, 214, 1) 50%, rgba(181, 227, 172, 1) 100%);
}

.socialMediaList {
    /* Hecho con la página CSS Gradient. */
    background: #b5e3ac;
    background: linear-gradient(90deg, rgba(181, 227, 172, 1) 0%, rgba(204, 240, 214, 1) 70%);
    border: none;
}

.smSvg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

/* Border None */
.bn {
    border: none;
}

/* Border Slide */
.bsl {
    border: 2px solid #b5e3ac;
}

.compTitle {
    background-color: #b5e3ac;
    border: 4px solid #1b2419;
}

.compCard {
    background-color: #b5e3ac;
    border: 2px solid #1b2419;
}

.footer {
    /* Hecho con la página CSS Gradient. */
    background: #b5e3ac;
    background: linear-gradient(90deg, rgba(181, 227, 172, 1) 0%, rgba(204, 240, 214, 1) 50%, rgba(181, 227, 172, 1) 100%);
}